easydict==1.11
h5py
matplotlib==3.5.1
mc==0.0
numpy==1.26.2
open3d==0.17.0
opencv_python_headless==4.8.1.78
setuptools==68.2.2
tensorboardX==2.6.2.2
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transforms3d==0.4.1
Ninja
